# Unity generated folders
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/

# Visual Studio
.vs/
.vscode/
*.csproj
*.sln
*.user
*.unityproj

# OS
.DS_Store
Thumbs.db

# 기타
*.log
*.bak
*.old
*.orig
